body {
  background-color: rgb(234, 233, 233);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1500px;
  height: 500px;
  border-collapse: collapse;
}

.todo-list {

  justify-content: center;
  align-items: center;
  background-color: whitesmoke; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  width: 1000px;
  position: relative;
  text-align: center;
}

.todo-item {
  padding: 10px;
  border-radius: 4px; 
  margin-bottom: 10px; 
}
.item {
  background-color: rgb(234, 233, 233); 
  display: flex;
  align-items: center;
  gap: 10px;
}
.item button img {
  width: 15px;
  height: 15px;

}

.item p {
  margin: 0;
  text-align: left;
}
.complete {
  text-decoration: line-through; 
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.link-button {
  text-decoration: none;
  color: white;
  background-color: rgb(103, 103, 227);
  padding: 10px 20px;
  border-radius: 8px;
}
select {
  padding: 5px;
  font-size: 1rem;
}
form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  width: 500px;
}

form input[type="text"],
form input[type="number"],
form input[type="checkbox"],
form input[type="date"] {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

form input[type="checkbox"] {
  width: auto;
}

form button {
  background-color: rgb(103, 103, 227);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form button:disabled {
  background-color: #a3b5f5;
  cursor: not-allowed;
}

label {
  margin-right: 10px;
}
.icons{
  padding: 10px;
  /* margin: 10px */
}