body {
  background-color: rgb(234, 233, 233);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 1500px;
  height: 500px;
  text-align: center;
}

.todo-list {
  background-color: whitesmoke; 
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  width: 1000px;
}

.todo-item {
  background-color: white; 
  padding: 10px;
  border-radius: 4px; 
  margin-bottom: 10px; 
}
.item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.item button img {
  width: 15px;
  height: 15px;

}

.item p {
  margin: 0; 
}
.complete {
  text-decoration: line-through; 
}

